@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&family=Roboto&family=Roboto+Mono&family=Stint+Ultra+Condensed&display=swap');
*{
    font-family: 'EB Garamond', serif;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Stint Ultra Condensed', cursive; */
}