<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title"><%$this->lang->line("FRONT_WELCOME")%></div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <h3 class="title"><%$this->lang->line("FRONT_WELCOME_TO_THE")%> <%$this->config->item('COMPANY_NAME')%></h3>            
        </div>
    </div>
</div>

