.cart-button  
    {  
        padding: 3px 6px;  
    }  
    .item-list  
    {  
        display: inline-flex;  
        margin: 10px 0;  
        overflow: hidden;  
        width: 100%;  
    }  
    .thumbnail  
    {  
        border: 1px solid #F6F6F6;  
        border-radius: 2px;  
        box-shadow: 0 1px 3px rgba(0,0,0,0.055);  
        display: inline-block;  
        line-height: 20px;  
        margin: 0 10px;  
        moz-border-radius: 4px;  
        moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);  
        moz-transition: all .2s ease-in-out;  
        o-transition: all .2s ease-in-out;  
        padding: 4px;  
        transition: all .2s ease-in-out;  
        vertical-align: middle;  
        webkit-border-radius: 4px;  
        webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);  
        webkit-transition: all .2s ease-in-out;  
        width: 100px;  
    }  
    .thumbnail a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .item-info-mian  
    {  
        display: inline-flex;  
        width: 100%;  
    }  
    .item-info  
    {  
        border-right: dotted 1px #ccc;  
        display: inline-block;  
        margin-right: 2%;  
        min-height: 110px;  
        padding-right: 2%;  
        vertical-align: top;  
        width: 78%;  
    }  
    .sale-info  
    {  
        display: inline-block;  
        margin-top: 15px;  
    }  
    .sale-price  
    {  
        color: #D9534F;  
        font-size: 22px;  
        margin-bottom: 10px;  
        text-align: center;  
    }  
    .sale-status  
    {  
        color: #34D508;  
        text-align: center;  
    }
    /***********************************************************************************/
    .cart-button  
    {  
        padding: 3px 6px;  
    }  
    .thumbnail  
    {  
        border: 1px solid #F6F6F6;  
        border-radius: 2px;  
        box-shadow: 0 1px 3px rgba(0,0,0,0.055);  
        display: inline-block;  
        line-height: 20px;  
        margin: 0 10px;  
        moz-border-radius: 4px;  
        moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);  
        moz-transition: all .2s ease-in-out;  
        o-transition: all .2s ease-in-out;  
        padding: 4px;  
        transition: all .2s ease-in-out;  
        vertical-align: top;  
        webkit-border-radius: 4px;  
        webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);  
        webkit-transition: all .2s ease-in-out;  
        width: 100px;  
    }  
    .item-info  
    {  
        border-right: dotted 1px #ccc;  
        display: inline-block;  
        margin-right: 2%;  
        min-height: 110px;  
        padding-right: 2%;  
        vertical-align: top;  
        width: 78%;  
    }  
    .sale-info  
    {  
        display: inline-block;  
        margin-top: 15px;  
    }  
    .sale-price  
    {  
        color: #D9534F;  
        font-size: 22px;  
        margin-bottom: 10px;  
        text-align: center;  
    }  
    .sale-status  
    {  
        color: #34D508;  
        text-align: center;  
    }  
    .item-grid-main  
    {  
        padding: 10px;  
    }  
    .item-grid  
    {  
        border: solid 1px #ccc;  
        border-radius: 5px;  
        box-sizing: border-box;  
        display: inline-block;  
        margin-bottom: 10px;  
        margin-right: 10px;  
        border-radius: 2px;  
        padding: 10px;  
        text-align: center;  
        width: 250px;  
        height:245px;  
        float:left;  
  
    }  
    .item-grid:hover  
    {  
        background: #f8f8f8;  
    }  
    .item-grid > .thumbnail  
    {  
        margin: 0;  
    }  
    .item-grid > .item-info  
    {  
        border: none;  
        margin: 0;  
        min-height: 30px;  
        padding: 10px 0;  
        text-align: center;  
        width: 100%;  
    }  
    .item-grid > .item-info .item-title  
    {  
        width: 100%;  
        display: inline-block;  
        overflow: hidden;  
        text-overflow: ellipsis;  
        white-space: nowrap;  
    }  
    .item-grid-main .item-grid:nth-of-type(5n)  
    {  
        margin-right:0;  
    }