#c_owner_name{
    /*margin-left: 10px;*/
    margin-right: 10px;
}
/*#sys_custom_field_1{*/
/*    margin-right: 10px;*/
/*}*/
#sys_custom_field_1{
    margin-left: 15px;
    margin-right: 15px;
}
#sys_custom_field_2{
    margin-left: 25px;
    margin-right: 20px;
}