*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 1em;
}
div{
    position: absolute;
    right: 10px;
    height: 100px;
    width: 100px;
    border: 1px solid #000;
    background-color: #ddd;
    z-index: -1;
}
button{
    margin: 1em 0;
    padding: 5px 1em;
}
form{
    display: grid;
    grid-template-columns: auto;
}
input{
    margin: 10px 0;
    padding: 10px;
    width: 50%;
}