*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 1em;
}
table{margin: 1em 0;}
table, tr, td{
    border: 1px solid #000;
    border-collapse: collapse;
}
td{
    height: 2em;
    width: 2em;
    background-color: purple;
}