*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
	padding: 0 1em;
}
.container{
	margin-top: 2em;
}
.table-title {        
	padding-bottom: 15px;
	background: #435d7d;
	color: #fff;
	padding: 16px 30px;
	min-width: 100%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}
.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}
.table-title .btn-group {
	float: right;
}
.table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}
.table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}
.table-title .btn span {
	float: left;
	margin-top: 2px;
}
table th {
    text-align: center;
}

table td {
    padding: 0;
    box-shadow: 2px 0 2px 0 #ddd;
}

table td:last-child {
    text-align: center;
}

table i {
    padding: 0 10px;
    cursor: pointer;
}
.form-group{
	margin: 1em 0;
}