.app-add-post-text {
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.app-post-card {
  width: 500px;
  border-radius: 10px;
  position: relative;
}

.app-del-post {
  position: absolute;
  right: 5px;
  top: 5px;
}

.app-post-card .btn,
.app-post-card .card-body p {
  font-size: 14px;
}

.load-more-btn-cont {
  width: 500px;
}

.app-del-post .btn-circle-lg {
  background-color: #fff !important;
  background-image: none;
  color: #333;
  width: 36px;
  height: 36px;
}

.app-del-post .btn-circle-lg i {
  top: -2px !important;
}

.app-post-add-img img {
  width: 40px;
  height: 40px;
}
.app-post-name {
  font-size: 14px;
}
.app-post-name span {
  font-size: 12px;
}
