@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #f0f2f5;
}

.app-top-nav {
  background-image: linear-gradient(to right, #d500f9, #ffd54f);
}
.app-top-nav a {
  font-size: 14px;
  color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-top-nav a i {
  font-size: 20px;
  margin-right: 7px;
}

.app-top-nav .navbar-brand i {
  font-size: 27px;
}

.app-footer {
  background: #fff !important;
  font-size: 14px;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  background-image: linear-gradient(to right, #d500f9, #ffd54f);
  border: none !important;
}

.btn-circle i {
  position: relative;
  top: 3px;
}

.app-scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.app-toast {
  position: fixed;
  top: 55px;
  z-index: 999999;
  left: 40%;
}

.app-toast .toast-header {
  border: none;
}
