@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&family=Roboto+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.container {
    max-width: 780px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    padding: 5% 10%;
    min-width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 12px 0 #ddd;
}
form .head{
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
}