.fa{color:#778695;}
.fa-refresh,.fa-spinner,.fa-cog,.fa-circle-o-notch{color:#3399cc;}
#qLbar,#ajax_qLbar{border-top-color:#3399cc;border-left-color:#3399cc;}
.uigrid-add-btn div.btn{background-color:#5bb75b!important;background-image:linear-gradient(to bottom,#62c462,#51a351);background-image:-moz-linear-gradient(top,#62c462,#51a351);background-image:-o-linear-gradient(top,#62c462,#51a351);background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));background-image:-webkit-linear-gradient(top,#62c462,#51a351);background-repeat:repeat-x;border-color:#51a351 #51a351 #387038;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.uigrid-add-btn div.btn:hover{background:#51a351;color:#fff;}
.uigrid-add-btn.add-icon-only div.btn{padding:3px 6px 3px 10px;}
.uigrid-del-btn div.btn{background-color:#da4f49!important;background-image:linear-gradient(to bottom,#ee5f5b,#bd362f);background-image:-moz-linear-gradient(top,#ee5f5b,#bd362f);background-image:-o-linear-gradient(top,#ee5f5b,#bd362f);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));background-image:-webkit-linear-gradient(top,#ee5f5b,#bd362f);background-repeat:repeat-x;border-color:#bd362f #bd362f #802420;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffbd362f',GradientType=0);text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.uigrid-del-btn div.btn:hover{background-color:#bd362f!important;color:#fff;}
.uigrid-del-btn.del-icon-only div.btn{padding:3px 6px 3px 10px;}
.uigrid-status-common div.btn{background-color:#49afcd;background-image:linear-gradient(to bottom,#5bc0de,#2f96b4);background-image:-moz-linear-gradient(top,#5bc0de,#2f96b4);background-image:-o-linear-gradient(top,#5bc0de,#2f96b4);background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));background-image:-webkit-linear-gradient(top,#5bc0de,#2f96b4);background-repeat:repeat-x;border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff2f96b4',GradientType=0);text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.uigrid-status-common div.btn:hover{background-color:#2f96b4;color:#fff;}
.uigrid-search-btn div.btn, .uigrid-custom-btn div.btn{background-color:#faa732;background-image:linear-gradient(to bottom,#fbb450,#f89406);background-image:-moz-linear-gradient(top,#fbb450,#f89406);background-image:-o-linear-gradient(top,#fbb450,#f89406);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));background-image:-webkit-linear-gradient(top,#fbb450,#f89406);background-repeat:repeat-x;border-color:#f89406 #f89406 #ad6704;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450',endColorstr='#fff89406',GradientType=0);text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.uigrid-search-btn div.btn:hover, .uigrid-custom-btn div.btn:hover{background-color:#f89406;color:#fff;}
.uigrid-search-btn.search-icon-only div.btn, .uigrid-custom-btn.custom-icon-only div.btn{padding:3px 5px 3px 11px;}
.uigrid-refresh-btn div.btn{background-color:#006dcc;background-image:linear-gradient(to bottom,#08c,#04c);background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-repeat:repeat-x;border-color:#04c #04c #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.uigrid-refresh-btn div.btn:hover{background-color:#04c;color:#fff;}
.uigrid-refresh-btn.refresh-icon-only div.btn{padding:3px 4px 3px 12px;}
.uigrid-col-btn div.btn{background-color:#d395c8;background-image:linear-gradient(top, #d6a7ce, #cf79c0);background-image:-moz-linear-gradient(top, #d6a7ce, #cf79c0);background-image:-ms-linear-gradient(top, #d6a7ce, #cf79c0);background-image:-o-linear-gradient(top, #d6a7ce, #cf79c0);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#d6a7ce), to(#cf79c0));background-image:-webkit-linear-gradient(top, #d6a7ce, #cf79c0);background-repeat:repeat-x;border-color:#cf79c0 #cf79c0 #b942a4;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6a7ce', endColorstr='#cf79c0', GradientType=0);text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.uigrid-col-btn div.btn:hover{background-color:#cf79c0;color:#fff;}
.uigrid-col-btn.col-icon-only div.btn{padding:3px 6px 3px 11px;}
.uigrid-export-btn div.btn{background-color:#a8adb7;background-image:linear-gradient(top, #b0b5c2, #9da0a6);background-image:-moz-linear-gradient(top, #b0b5c2, #9da0a6);background-image:-ms-linear-gradient(top, #b0b5c2, #9da0a6);background-image:-o-linear-gradient(top, #b0b5c2, #9da0a6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#b0b5c2), to(#9da0a6));background-image:-webkit-linear-gradient(top, #b0b5c2, #9da0a6);background-repeat:repeat-x;border-color:#9da0a6 #9da0a6 #757981;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0b5c2', endColorstr='#9da0a6', GradientType=0);text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.uigrid-export-btn div.btn:hover{background-color:#9da0a6;color:#fff;}
.uigrid-export-btn.export-icon-only div.btn{padding:3px 5px 3px 11px;}
.uigrid-print-btn div.btn{background-color:#a8adb7;background-image:linear-gradient(top, #b0b5c2, #9da0a6);background-image:-moz-linear-gradient(top, #b0b5c2, #9da0a6);background-image:-ms-linear-gradient(top, #b0b5c2, #9da0a6);background-image:-o-linear-gradient(top, #b0b5c2, #9da0a6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#b0b5c2), to(#9da0a6));background-image:-webkit-linear-gradient(top, #b0b5c2, #9da0a6);background-repeat:repeat-x;border-color:#9da0a6 #9da0a6 #757981;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0b5c2', endColorstr='#9da0a6', GradientType=0);text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.uigrid-print-btn div.btn:hover{background-color:#9da0a6;color:#fff;}
.uigrid-print-btn.print-icon-only div.btn{padding:3px 5px 3px 11px;}
.box-addmore a{color:#fff;}
.box-addmore a.btn span{color:#fff;margin-right:4px!important;}
.box-addmore a.btn{background-color:#5bb75b!important;background-image:linear-gradient(to bottom,#62c462,#51a351);background-image:-moz-linear-gradient(top,#62c462,#51a351);background-image:-o-linear-gradient(top,#62c462,#51a351);background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));background-image:-webkit-linear-gradient(top,#62c462,#51a351);background-repeat:repeat-x;border-color:#51a351 #51a351 #387038;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.box-addmore a.btn:hover{background:#51a351;color:#fff;}
.box .title div.btn{background-color:#49afcd;background-image:linear-gradient(to bottom,#5bc0de,#2f96b4);background-image:-moz-linear-gradient(top,#5bc0de,#2f96b4);background-image:-o-linear-gradient(top,#5bc0de,#2f96b4);background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));background-image:-webkit-linear-gradient(top,#5bc0de,#2f96b4);background-repeat:repeat-x;border-color:#2f96b4 #2f96b4 #1f6377;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff2f96b4',GradientType=0);text-shadow:0 -1px 0 rgba(0,0,0,0.25);}
.box .title div.btn:hover{background-color:#2f96b4;color:#fff;}
.top-menu ul li:hover ul.sub li a:hover span, .top-menu ul li:hover a.top_link i, .top-menu ul li a.top_link.active, 
.top-menu ul li a.top_link.active i, .top-menu ul li:hover ul.sub li a.current, .top-menu ul li:hover ul.sub li a.current span{color:#3399cc!important;}
.mainnav ul li .sub li a:hover span, .mainnav li a:hover span, .mainnav li a.semi-menu-active span, .mainnav ul li .sub li a.current, .mainnav ul li .sub li a.current span, .mainnav li a.active, .mainnav li a.active span{color:#3399cc!important;}
.box.gradient .frm-title-bar, .frm-ctrls-bar{background:linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);background:-moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(243,243,243,1) 100%);background:-ms-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);background:-o-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);background:rgb(255,255,255);background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));background:-webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(243,243,243,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );}
.box.gradient .frm-title-bar{border-bottom-color:#c4c4c4;}
.frm-ctrls-bar{border-color:#c4c4c4;}
a.left-menu-hide{height:23px;line-height:22px;}
.pattern_container{border-radius:5px;}
.login-form input:focus{border:solid 1px #419db8;}
.normal-login-type .login-btn:hover span{color:#fff;}
.show-forgot-pwd a{color:#419db8;}
.show-forgot-pwd a:hover{color:#58bddb;}
.icon-user-login{border-right:solid 1px #bcc3ca;left:8px;padding-right:12px;position:absolute;top:15px;}
.icon-user-pw{border-right:solid 1px #bcc3ca;left:8px;padding-right:12px;position:absolute;top:15px;}
.forgot-pwd-btns .btn-info{border:solid 1px #419db8;}
.forgot-pwd-btns .btn-info:hover{color:#fff;}
.forgot-backlink span a{color:#419db8;}
.forgot-backlink span a:hover{color:#58bddb;}
.editable-buttons [class^="icon-"],[class*=" icon-"]{margin-bottom:2px;margin-top:2px;}
.color-append-class.add-on{cursor:pointer!important;padding:4px 5px 4px 5px!important;}