<%if $this->input->is_ajax_request()%>
    <%$this->js->clean_js()%>
<%/if%>
<%if $this->input->is_ajax_request()%>
    <%$this->js->clean_js()%>
<%/if%>
<div class="module-view-container">
    <%include file="release_notes_details_add_strip.tpl"%>
    <div class="<%$module_name%>" data-form-name="<%$module_name%>">
        <div id="ajax_content_div" class="ajax-content-div top-frm-spacing" >
            <input type="hidden" id="projmod" name="projmod" value="release_notes_details" />
            <!-- Page Loader -->
            <div id="ajax_qLoverlay"></div>
            <div id="ajax_qLbar"></div>
            <!-- Module Tabs & Top Detail View -->
            <div class="top-frm-tab-layout" id="top_frm_tab_layout">
            </div>
            <!-- Middle Content -->
            <div id="scrollable_content" class="scrollable-content top-block-spacing ">
                <!-- Module View Block -->
                <div id="release_notes_details" class="frm-module-block frm-view-block frm-thclm-view">
                    <!-- Form Hidden Fields Unit -->
                    <input type="hidden" id="id" name="id" value="<%$enc_id%>" />
                    <input type="hidden" id="mode" name="mode" value="<%$mod_enc_mode[$mode]%>" />
                    <input type="hidden" id="ctrl_flow" name="ctrl_flow" value="<%$ctrl_flow%>" />
                    <input type="hidden" id="ctrl_prev_id" name="ctrl_prev_id" value="<%$next_prev_records['prev']['id']%>" />
                    <input type="hidden" id="ctrl_next_id" name="ctrl_next_id" value="<%$next_prev_records['next']['id']%>" />
                    <input type="hidden" name="mrnd_date_added" id="mrnd_date_added" value="<%$this->general->dateSystemFormat($data['mrnd_date_added'])%>"  class='ignore-valid '  aria-date-format='<%$this->general->getAdminJSFormats('date', 'dateFormat')%>'  aria-format-type='date' />
                    <input type="hidden" name="mrnd_added_by" id="mrnd_added_by" value="<%$data['mrnd_added_by']%>"  class='ignore-valid ' />
                    <input type="hidden" name="mrnd_date_updated" id="mrnd_date_updated" value="<%$this->general->dateSystemFormat($data['mrnd_date_updated'])%>"  class='ignore-valid '  aria-date-format='<%$this->general->getAdminJSFormats('date', 'dateFormat')%>'  aria-format-type='date' />
                    <input type="hidden" name="mrnd_updated_by" id="mrnd_updated_by" value="<%$data['mrnd_updated_by']%>"  class='ignore-valid ' />
                    <!-- Form Display Fields Unit -->
                    <div class="main-content-block" id="main_content_block">
                        <div style="width:98%;" class="frm-block-layout pad-calc-container">
                            <div class="box gradient <%$rl_theme_arr['frm_twclm_content_row']%> <%$rl_theme_arr['frm_twclm_border_view']%>">
                                <div class="title <%$rl_theme_arr['frm_twclm_titles_bar']%>"><h4><%$this->lang->line('RELEASE_NOTES_DETAILS_RELEASE_NOTES_DETAILS')%></h4></div>
                                <div class="content two-column-block <%$rl_theme_arr['frm_twclm_label_align']%>">
                                    <div class="column-view-parent form-row row-fluid">
                                        <div class="two-block-view " id="cc_sh_mrnd_release_notes_id"> 
                                            <label class="form-label span3"><%$form_config['mrnd_release_notes_id']['label_lang']%></label>
                                            <div class="form-right-div frm-elements-div " style="width:60%!important">
                                                <strong><%$this->general->displayKeyValueData($data['mrnd_release_notes_id'], $opt_arr['mrnd_release_notes_id'])%></strong>
                                            </div>
                                        </div>
                                        <div class="two-block-view " id="cc_sh_mrnd_version_status"> 
                                            <label class="form-label span3"><%$form_config['mrnd_version_status']['label_lang']%></label>
                                            <div class="form-right-div frm-elements-div " style="width:60%!important">
                                                <strong><%$this->general->displayKeyValueData($data['mrnd_version_status'], $opt_arr['mrnd_version_status'])%></strong>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="column-view-parent form-row row-fluid">
                                        <div class="two-block-view " id="cc_sh_mrnd_title"> 
                                            <label class="form-label span3"><%$form_config['mrnd_title']['label_lang']%></label>
                                            <div class="form-right-div frm-elements-div " style="width:60%!important">
                                                <strong><%$data['mrnd_title']%></strong>
                                            </div>
                                        </div>
                                        <div class="two-block-view tab-focus-element">&nbsp;</div> 
                                    </div>
                                    <div class="column-view-parent form-row row-fluid">
                                        <div class="two-block-view " id="cc_sh_mrnd_description"> 
                                            <label class="form-label span3"><%$form_config['mrnd_description']['label_lang']%></label>
                                            <div class="form-right-div frm-elements-div  frm-editor-layout" style="width:60%!important">
                                                <strong><%$data['mrnd_description']%></strong>
                                            </div>
                                        </div>
                                        <div class="two-block-view tab-focus-element">&nbsp;</div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%javascript%>        
            
    var el_form_settings = {}, elements_uni_arr = {}, child_rules_arr = {}, google_map_json = {}, pre_cond_code_arr = [];
    el_form_settings['module_name'] = '<%$module_name%>'; 
    el_form_settings['extra_hstr'] = '<%$extra_hstr%>';
    el_form_settings['extra_qstr'] = '<%$extra_qstr%>';
    el_form_settings['upload_form_file_url'] = admin_url+"<%$mod_enc_url['upload_form_file']%>?<%$extra_qstr%>";
    el_form_settings['get_chosen_auto_complete_url'] = admin_url+"<%$mod_enc_url['get_chosen_auto_complete']%>?<%$extra_qstr%>";
    el_form_settings['token_auto_complete_url'] = admin_url+"<%$mod_enc_url['get_token_auto_complete']%>?<%$extra_qstr%>";
    el_form_settings['tab_wise_block_url'] = admin_url+"<%$mod_enc_url['get_tab_wise_block']%>?<%$extra_qstr%>";
    el_form_settings['parent_source_options_url'] = "<%$mod_enc_url['parent_source_options']%>?<%$extra_qstr%>";
    el_form_settings['jself_switchto_url'] =  admin_url+'<%$switch_cit["url"]%>';
    el_form_settings['callbacks'] = [];

    callSwitchToSelf();
<%/javascript%>

<%if $this->input->is_ajax_request()%>
    <%$this->js->js_src()%>
<%/if%> 
<%if $this->input->is_ajax_request()%>
    <%$this->css->css_src()%>
<%/if%> 
