@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&family=Roboto+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar{
    /* display: none; */
}
body {
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container form {
    margin: 5% 0;
    padding: 5% 10%;
    min-width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 12px 0 #ddd;
}
.container form .head{
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
}
.error{
    color: red;
    font-size: 0.8em;
}
a {
    padding: 10px 1em;
    text-decoration: none;
}

a.active {
    background-color: #668cff;
    color: #fff;
}
.sort-btn{margin-right: 1em;}
.logout{position: absolute; bottom: 10px; right: 10px; padding: 1em; padding-bottom: 10px; border-radius: 50%; cursor: pointer;}
.success-msg{text-align: center; color: green; font-weight: bold;}

/* menu slider css */
.carousel{
    margin: 10px;
}
.carousel-cell{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: inset 0 0 12px 2px #666;
}
.container .row{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
}
.card-body{
    text-align: center;
}
.card-body div{
    font-size: 0.8em;
}
.card-body .product_cost{text-decoration-line: line-through;}
.card-body .product_name{
    font-size: 1em;
    font-weight: bold;
}
/* scroll to top */
.pageUp{
    position: fixed;
    right: 1em;
    bottom: 1em;
    padding: 10px;
    background-color: #444;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

/* logout btn */
#abs-btn{
    position: fixed;
    bottom: 10px;
    left: 10px;
}
#abs-btn button {
    padding: 0.8em;
    padding-bottom: 6px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}